* {
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif;
}
body {
    background-color: #f6f6f8;
}

main {
    background: url('images/bg-mobile-light.jpg') no-repeat;
    background-size: cover;
    padding: 30px 15px;
    height: 170px;
    width: 100%;
}
.header {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
    color: white;
}


/* ******CONTAINER*******
********************** */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px auto 0;
    max-width: 600px;;
}
#inputBox {
    width: 80%;
    padding: 15px;
    border-radius: 5px;
    border: none;
}

ul {
    width: 80%;
    padding-left: 0;
    margin-top: 10px;
}
ul li {
    list-style-type: none;
    background-color: white;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 2px;
    font-size: 15px;
}
ul li.done::before {
    content: '';
    border: 1px solid black;
    border-radius: 50%;
    padding: 0 8px;
    margin-right: 10px;
    cursor: pointer;
}
ul li.check::before {
    background: url('images/icon-check.svg') no-repeat;
    background-position: center;
    background-color: #a67df8;
}
.check {
    text-decoration: line-through;
    color: gray;
}


/* ******DARK MODE*******
********************** */
.dark {
    background-color: #161620;
}
.darkLi {
    background-color: #25273d;
    color: white;
}
.bg {
    background: url('images/bg-mobile-dark.jpg')no-repeat;
    background-size: cover;
}
button {
    border: none;
    background: none;
    cursor: pointer;
}

.hide {
    display: none;
}

/* ******DELETE BUTTON*******
********************** */

.cross {
    padding: 10px;
    background: url('images/icon-cross.svg') no-repeat;
    float: right;
    cursor: pointer;
}


