* {
    box-sizing: border-box;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    background-image: url(images/bg-mobile-light.jpg);
    background-size: cover;
    color: white;
    height: 200px;
    width: 100%;
}
header > p {
    margin-top: -80px;
    font-size: 30px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}
#icon {
    margin-top: -80px;
    border: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
}


/* ******************************
***********TO DO LIST*********** */

main {
    display: flex;
    justify-content: center;
}

#create {
    top: 110px;
    background-color: white;
    border: none;
    
}
#create, .list {
    position: absolute;
    border-radius: 5px;
    padding: 12px 10px;
    text-align: left;
    width: 80%;
}
.list {
    top: 170px;
    list-style-type: none;
    background-color: white;
    box-shadow: 2px 2px 9px grey;
}
li {
    border-bottom: 1px solid rgb(181, 181, 181);
    padding: 17px 0;
    cursor: pointer;
    outline: 1px solid red;

    transition-property: all;
    transition-duration: 0.7s;
}
li::before {
    content: url(images/icon-check.svg);
    border-radius: 50%;
    outline: 1px solid red;
    margin-right: 10px;
    padding: 0px 3px;
    border: 1px solid black;
}
.cross::after {
    content: url(images/icon-cross.svg);
    outline: 1px solid red;
    position: absolute;
    left: 90%;
}

.addList::before {
    background-color: rgb(19, 23, 138);
}
.done {
    text-decoration: line-through;
    color: rgb(197, 192, 192);
    font-size: 15px;
}


