* {
    box-sizing: border-box;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    background-image: url(images/bg-mobile-light.jpg);
    background-size: cover;
    color: white;
    height: 200px;
    width: 100%;
}
header > p {
    font-size: 30px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}
#icon {
    border: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
}


/* *********************
******TO DO LIST****** */

main {
    display: flex;
    justify-content: center;
}

#create {
    position: absolute;
    top: 140px;
    background-color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 12px 25%;
}

